a {
    color: rgba(0, 0, 0, 0);
}

a:hover {
    color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

h1,
h2 {
    font-size: 48px;
    line-height: 48px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h5 {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 2px;
}

p {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}


/* HEADER */

.header {
    min-height: 100px;
}

.img-cover {
    min-height: 485px;
    box-sizing: border-box;
    margin: 0 auto;
    mix-blend-mode: normal;
}

.shadow-two {
    box-shadow: inset 0px 12px 12px rgba(0, 0, 0, 0.25), 0px 12px 12px rgba(0, 0, 0, 0.25);
}

.shadow-bottom {
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
}

.main-tilte {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
}

.site-titles,
.site-slogan,
.btn-appointment {
    margin-top: 50px;
}

.site-titles {
    color: #FFFFFF;
    height: 385px;
}

.navbar-light .navbar-brand {
    color: #FF7777 !important;
}

.font-releway {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
}

.font24 {
    line-height: 34px;
    font-size: 24px;
}

.font18 {
    font-size: 18px;
    line-height: 22px;
}

.navbar {
    min-height: 100px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #FF7777;
    transition: all 0.5s ease 0s;
}

.btn-appointment {
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    background: #EBEBEB;
    border: 0;
    border-radius: 25px;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    transition: all 0.5s ease 0s;
    width: 200px;
    height: 40px;
}

.btn-appointment:hover {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FF7777;
    border-radius: 25px;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

.btn-appointment:active {
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0));
    box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease 0s;
}

.site-descripion {
    text-align: center;
    width: 730px;
}

.margin-bottom {
    margin-bottom: 50px;
}

.margin-top {
    margin-top: 50px;
}

.color-grey {
    background: #EBEBEB;
}


/* SITE-TITLE */

.site-slogan {
    color: #FFFFFF;
}


/* SERVICES */

.services {
    padding-bottom: 50px;
    display: flex;
}

.service-item {
    position: relative;
    max-height: 540px;
    transform: scale(1);
    transition: all 0.5s ease 0s;
}

.service-item:hover {
    z-index: 1000;
}

.service-item:hover .service-description {
    display: block;
}

.service-item:hover .service-img {
    transform: scale(1.04);
}

.service-img {
    background: #FF7777;
    background-size: cover;
    transition: all 0.6s ease 0s;
    transform: scale(1);
}

.service-link {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 50px;
    padding-bottom: 0px;
    transition: all 0.6s ease 0s;
    transform: scale(1);
}

.service-link p {
    margin-bottom: 50px;
}

.service-link:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
    flex-direction: column;
    transform: scale(1.04);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25), 6px 0px 6px rgba(0, 0, 0, 0.25), -6px 0px 6px rgba(0, 0, 0, 0.25);
}

.service-title {
    color: #FFFFFF;
    margin-top: auto;
    margin-bottom: 50px;
}

.service-description {
    min-width: 280px;
    min-height: 370px;
    line-height: 22px;
    color: #EBEBEB;
    display: none;
    font-size: 16px;
}


/* appointment */

.img-cover-form {}

.appointment {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.appointment-form {
    border-radius: 25px;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
}

.appointment-title {
    margin-top: 0;
    text-align: center;
}

.appointment p {
    text-transform: uppercase;
}

.form-text {
    margin-right: 25px;
    min-width: 134px;
}

.form-input {
    border: 2px solid #EBEBEB;
    border-radius: 6px;
    height: 38px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.form-input:focus {
    border-color: #FF7777;
    outline: none;
}

.form-input:active {
    border-color: #FF7777;
}

.form-checkbox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.form-item,
.checkbox-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.checkbox-item {
    width: 180px;
    height: 32px;
    padding-right: 12px;
}

.form-item input {
    padding-left: 25px;
}

.form-item input:nth-child(2) {
    flex-grow: 1;
}

.appointment-button {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}